.single-team {
    .team-img {
        overflow: hidden;
        margin-bottom: 19px;

        /* Add fixed dimensions for the image container */
        width: 100%; /* Adjust based on parent container width */
        max-width: 350px; /* Example size */
        height: 30rem; /* Example size */
        position: relative;

        & img {
            /* Ensure the image fits inside the container */
            width: 100%;
            height: 100%;
            object-fit: cover; /* Ensures the image is cropped to fit */
            transform: scale(1);
            transition: all 0.6s ease-out 0s;
        }
    }

    .team-caption {
        & span {
            color: #c7ae24;
            font-size: 14px;
            font-weight: 500;
            font-family: $font_3;
            display: block;
            position: relative;
            margin-left: 30px;
            margin-bottom: 10px;

            &::before {
                position: absolute;
                content: "";
                width: 25px;
                height: 2px;
                top: 0;
                left: -30px;
                top: 50%;
                transform: translateY(-50%);
                background: #c7ae24;
            }
        }

        & h3 {
            color: $heading-color;
            font-weight: 700;
            font-size: 25px;
            font-family: $font_3;
        }
    }
}

/* Optional: Hover effect */
.single-team:hover .team-img img {
    transform: scale(1.1);
}
